commonquestions/Schemas/text.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="text">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
				<xs:element name="question-text" type="xs:string" minOccurs="0"/>
				<xs:element name="placeholder" type="xs:string" minOccurs="0" />
				<xs:element name="required" type="xs:boolean" minOccurs="0" />
				<xs:element name="class" type="xs:string" minOccurs="0" />
				<xs:element name="html" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>